<div class="container">
  <h1 class='text-center'>Factures</h1>
  <hr>
  <ul>
  <% @invoices.each do |invoice| %>
  <li><%= link_to invoice.order.customer, invoice_path(invoice) %> - <%= invoice.order.total_ht %>Euros (HT)</li>
  <% end %>
  </ul>
  <hr>
  <%= link_to 'Nouvelle commande', new_order_path, class:'btn btn-primary' %>
  <hr>
  <%= link_to 'Voir les commandes', orders_path, class:'btn btn-primary' %>
</div>
