<div class="card-product">
  <img src= <%= product.img %> />
  <div class="card-product-infos">
    <h2><%= product.name %></h2>
    <p><strong><%= "#{product.unit_price_ht} Euro".pluralize %></strong></p>
  </div>
</div>
