<div class="container">
  <h2 class="text-center">Nouvelle commande<h2>
<hr>

  <%= simple_form_for(@order) do |f| %>
     <div class="form-inputs">
      <%= f.input :customer,
                  label: "Nom du client",
                  input_html: { autocomplete: "customer" }%>
    </div>
<hr>
    <div class="cards-product-container">
      <% @products.each do |product| %>
        <%= render("shared/product_card", product: product ) %>
      <% end %>
    </div>
<hr>
    <div class="form-actions">
      <%= f.button :submit, "Créer", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
